.hello{
    color: blue;
    text-align: center;
    font-size: 30px;
}
.poka{
    background-color: aqua;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
}
.blac{
    background-color: black;
    color: white;
}
.fine{
    background-color: red;
    text-align: center;
    font-size: 46px;
    border-radius: 50px;
}
.one{
border-radius: 20px;
color: black;
}
.two{
    color: white;
}
.three{
    background-color: black;
    color: white;
    border-radius: 8px;
   font-size: 30px;
}
.four{
    background-color: rgb(163, 49, 49);
    color: white;
    border-radius: 8px;
    font-size: 30px ;
}
.css{
    background-color: green;
    color: white;
    border-radius: 8px;
    font-size: 30px;
}
.first{
    background-color: white;
    text-align: center;
}
.five{
 color: aqua;
}
.six{
    background-color: blue;
    color: white;
}
.seven{
    background-color: orange;
    color: white;
    font-size: 35px;
}
.eight{
    background-color: black;
    text-align: center;
}
